.page_container {
    width: 100%;
    display: flex;
    gap: 80px;

    .category_container {
        margin-left: 10%;
        margin-top: 15%;
        width: 339px;
        box-sizing: border-box;

        .category {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: #A5A5A5;
            cursor: default;
        }

        .heading {
            font-size: 54px;
            line-height: 102px;
            font-weight: 600;
            color: #ffffff;
        }

        .active {
            color: #92FF06;
            font-size: 24px;
            font-weight: 500;
            line-height: 54px;
        }

    }

    .carousel-root {
        width: 524px;
        height: 524px;

        .carousel-slider {
            overflow: visible;
        }

        .carousel img.previous {
            max-width: 68px;
            max-height: 68px;
            position: absolute;
            top: 228px;
            left: -32px;
            z-index: 1;
            cursor: pointer;
            pointer-events: all;
        }

        .carousel img.next {
            max-width: 68px;
            max-height: 68px;
            position: absolute;
            top: 228px;
            left: 492px;
            z-index: 1;
            cursor: pointer;
            pointer-events: all;
        }
    }

    .circular_container {
        position: relative;
        width: 100%;
        height: 524px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        border: 1px solid #505050;
        flex-direction: column;
        box-sizing: border-box;

        .rotating_container {
            width: 524px;
            height: 524px;
            border-left: 4px solid #92FF06;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            border-radius: 50%;
            animation: rotate 3s linear infinite;

        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);

            }

            to {
                transform: rotate(360deg);

            }

        }

    }

    .about_container {

        .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            max-width: 418px;
        }


        .info {
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            display: flex;
            gap: 10px;
            max-width: 300px;

            .logo {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                object-fit: cover;

            }

            .company {
                display: flex;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .name {
                    color: dimgrey;
                    font-weight: 600;
                }

                .span {
                    color: darkgrey;
                }

            }
        }

    }

}